# My Gmaps stuff with API for the Migros CHallenge

In [9]:
import googlemaps
from datetime import datetime
import numpy as np
import pandas as pd
import json

# The Twitterkeys; removed for obvious reasons. put yours in here and adjust the file path
# Keys={'API key':''}
#save as json file (dump) - will be real json
fname='../gitIgnoreFolder/GooGleMapsAPKey.json'
# json.dump(Keys, open(fname, "w")) # outcommented to not overwrite

Keys= json.load(open(fname,'r'))
Keys

{'API key': 'AIzaSyBgLcdgIyP-wTvlNfu12ZdxAgDVZ0hBCqI'}

In [14]:
import requests

url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
  
# The text string on which to search 
query = input('Search Term:') 

api_key = Keys['API key']

# get method of requests module 
# return response object 
req = requests.get(url + 'query=' + query +
                        '&key=' + api_key) 
  
# json method of response object convert 
#  json format data into python format data 
places_json = req.json() 
  
# now x contains list of nested dictionaries 
# store the value of result key in variable y 
my_result = places_json['results'] 
  
# keep looping upto length of y 
for i in range(len(my_result)): 
      
    # Print value corresponding to the 
    # 'name' key at the ith index of y 
    print(my_result[i]['name'])

Migros canton Zurich Migros canton Zurich

Migros Supermarkt
Migros
Migros Supermarkt
Migros Supermarkt
Migros
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarkt
Migros Supermarket
Migros Supermarkt

In [22]:
places_json.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [25]:
places_json['status']

'OK'

In [44]:
file_postcodes='../datafiles/SwissPostCodes.csv'
pcodes=pd.read_csv(file_postcodes,sep=';')[['Postcode','City','Conton']]
pcodes

,Postcode,City,Conton,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1000,Lausanne,VD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003,Lausanne,VD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1004,Lausanne,VD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1005,Lausanne,VD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1006,Lausanne,VD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,9652,Neu St. Johann,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4116,9655,Stein SG,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4117,9656,Alt St. Johann,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4118,9657,Unterwasser,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4119,9658,Wildhaus,SG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

        Postcode;City;Conton;;;;;;;;;;
0           1000;Lausanne;VD;;;;;;;;;;
1           1003;Lausanne;VD;;;;;;;;;;
2           1004;Lausanne;VD;;;;;;;;;;
3           1005;Lausanne;VD;;;;;;;;;;
4           1006;Lausanne;VD;;;;;;;;;;
...                                ...
4115  9652;Neu St. Johann;SG;;;;;;;;;;
4116        9655;Stein SG;SG;;;;;;;;;;
4117  9656;Alt St. Johann;SG;;;;;;;;;;
4118     9657;Unterwasser;SG;;;;;;;;;;
4119        9658;Wildhaus;SG;;;;;;;;;;

[4120 rows x 1 columns]